version: 2.1
orbs:
    codecov: codecov/codecov@1.1.3
    gh: circleci/github-cli@1.0.3
jobs:
    build_library:
        docker:
            - image: circleci/node:14.17-browsers
        resource_class: large
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v2-dependencies-react-native-{{ checksum "components/yarn.lock" }}
            - run:
                  name: Install Dependencies
                  command: |
                      cd components
                      yarn install --frozen-lockfile
            - save_cache:
                  name: Save Cache
                  paths:
                      - components/node_modules
                  key: v2-dependencies-react-native-{{ checksum "components/yarn.lock" }}
            - run:
                  name: Prettier Check
                  command: |
                      cd components
                      yarn prettier:check
            - run:
                  name: Lint
                  command: |
                      cd components
                      yarn lint
            - run:
                  name: Test
                  command: |
                      yarn test --maxWorkers=2 --coverage --watchAll=false
            - run:
                  name: Build Library
                  command: |
                      yarn build
            - run:
                  name: Test Artifacts
                  command: |
                      yarn test:artifacts
            - run:
                  name: NPM Package
                  command: |
                      cd dist && npm pack
            # Save the dist folder for use in future jobs.
            - persist_to_workspace:
                  root: .
                  paths:
                      - dist
                      - components/coverage
            - run:
                  name: Memory Usage
                  command: cat /sys/fs/cgroup/memory/memory.max_usage_in_bytes
                  when: always
    coverage_report:
        working_directory: ~/react-native-component-library
        docker:
            - image: circleci/node:12.9.1-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - codecov/upload:
                  file: './components/coverage/clover.xml'
                  token: c0991605-ebc1-430d-aa3f-3e134c6a8a0e

    # Builds the Storybook app using @brightlayer-ui/react-native-components persisted in /dist folder.
    build_storybook:
        docker:
            - image: circleci/node:12.9.1-browsers
        resource_class: large
        environment:
            - MASTER_BRANCH: master
            - DEV_BRANCH: dev
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - restore_cache:
                  keys:
                      - v2-dependencies-react-native-{{ checksum "demos/storybook/yarn.lock" }}
            - run:
                  name: Install Dependencies
                  command: |
                      cd demos/storybook
                      yarn install --frozen-lockfile

                      # Install the packed version of @brightlayer-ui/react-native-components
                      PACKAGED_VERSION=`node -p "require('../../dist/package.json').version"`
                      yarn add ../../dist/brightlayer-ui-react-native-components-$PACKAGED_VERSION.tgz
            - save_cache:
                  name: Save Cache
                  paths:
                      - demos/storybook/node_modules
                  key: v2-dependencies-react-native-{{ checksum "demos/storybook/yarn.lock" }}
            - run:
                  name: Prettier Check
                  command: |
                      cd demos/storybook
                      yarn prettier:check
            - run:
                  name: Lint
                  command: |
                      cd demos/storybook
                      yarn lint
            - run:
                  name: Build Storybook
                  command: |
                      cd demos/storybook
                      yarn build
            - run:
                  name: Memory Usage
                  command: cat /sys/fs/cgroup/memory/memory.max_usage_in_bytes
                  when: always

    # Builds the hosted Storybook app
    build_storybook_api:
        docker:
            - image: circleci/node:12.9.1-browsers
        resource_class: large
        environment:
            - MASTER_BRANCH: master
            - DEV_BRANCH: dev
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - restore_cache:
                  keys:
                      - v2-dependencies-react-native-{{ checksum "demos/api/yarn.lock" }}
            - run:
                  name: Install Dependencies
                  command: |
                      cd demos/api
                      yarn install --frozen-lockfile

                      # Install the packed version of @brightlayer-ui/react-native-components
                      PACKAGED_VERSION=`node -p "require('../../dist/package.json').version"`
                      yarn add ../../dist/brightlayer-ui-react-native-components-$PACKAGED_VERSION.tgz
            - save_cache:
                  name: Save Cache
                  paths:
                      - demos/api/node_modules
                  key: v2-dependencies-react-native-{{ checksum "demos/api/yarn.lock" }}
            - run:
                  name: Prettier Check
                  command: |
                      cd demos/api
                      yarn prettier:check
            - run:
                  name: Lint
                  command: |
                      cd demos/api
                      yarn lint
            - run:
                  name: Build Storybook
                  command: |
                      cd demos/api
                      # master and dev branches should configure Google Analytics IDs before the build.
                      if [ $CIRCLE_BRANCH == $MASTER_BRANCH ]; then
                        STORYBOOK_GA_ID=$MASTER_GA
                      fi
                      if [ $CIRCLE_BRANCH == $DEV_BRANCH ]; then
                        STORYBOOK_GA_ID=$DEV_GA
                      fi

                      yarn build-storybook
                      cd storybook-static
                      touch .nojekyll
            - persist_to_workspace:
                  root: .
                  paths:
                      - demos/api/storybook-static
            - run:
                  name: Memory Usage
                  command: cat /sys/fs/cgroup/memory/memory.max_usage_in_bytes
                  when: always

    # Builds the Showcase app using @brightlayer-ui/react-native-components persisted in /dist folder.
    build_showcase:
        docker:
            - image: circleci/node:12.9.1-browsers
        resource_class: large
        environment:
            - MASTER_BRANCH: master
        steps:
            - checkout
            - attach_workspace:
                  at: .
            # - run:
            #       name: 'Set Max Memory'
            #       command: NODE_OPTIONS=--max_old_space_size=2048
            - run:
                  name: 'Initialize Submodule'
                  command: yarn initialize
            - restore_cache:
                  keys:
                      - v2-dependencies-react-native-{{ checksum "demos/showcase/yarn.lock" }}
            - run:
                  name: Install Dependencies
                  command: |
                      cd demos/showcase
                      yarn install --frozen-lockfile

                      # Install the packed version of @brightlayer-ui/react-native-components
                      PACKAGED_VERSION=`node -p "require('../../dist/package.json').version"`
                      yarn add ../../dist/brightlayer-ui-react-native-components-$PACKAGED_VERSION.tgz
            - save_cache:
                  name: Save Cache
                  paths:
                      - demos/showcase/node_modules
                  key: v2-dependencies-react-native-{{ checksum "demos/showcase/yarn.lock" }}
            - run:
                  name: Prettier Check
                  command: |
                      cd demos/showcase
                      yarn prettier:check
            - run:
                  name: Build Showcase
                  command: |
                      cd demos/showcase
                      yarn build
            - run:
                  name: Memory Usage
                  command: cat /sys/fs/cgroup/memory/memory.max_usage_in_bytes
                  when: always

    deploy_storybook:
        docker:
            - image: circleci/node:12.9.1-browsers
        environment:
            - MASTER_BRANCH: master
            - DEV_BRANCH: dev
            - DEV_TARGET: https://github.com/brightlayer-ui-components/react-native-dev
            - MASTER_TARGET: https://github.com/brightlayer-ui-components/react-native
            - GH_EMAIL: brightlayer-ui@eaton.com
            - GH_NAME: Brightlayer UI Agent
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run:
                  name: Deploy Storybook
                  command: |
                      git config --global user.email "$GH_EMAIL"
                      git config --global user.name "$GH_NAME"

                      cd demos/api

                      if [ $CIRCLE_BRANCH == $MASTER_BRANCH ]; then
                        git clone $MASTER_TARGET out
                      else
                        git clone $DEV_TARGET out
                      fi

                      cd out
                      git rm -rf .
                      cd ..

                      cp -a storybook-static/. out/.
                      cd out

                      git add -A
                      git commit -m "Automated deployment to GitHub Pages: ${CIRCLE_SHA1}" --allow-empty
                      git push
    publish:
        docker:
            - image: circleci/node:12.9.1-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run:
                  name: Authenticate with registry
                  command: |
                      echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
                      echo "//registry.yarnpkg.com/:_authToken=$NPM_TOKEN" >> ~/.npmrc
            - run:
                  name: Publish @brightlayer-ui/react-native-components
                  command: |
                      yarn publish:package -b $CIRCLE_BRANCH

    tag:
        docker:
            - image: circleci/node:12.9.1-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - gh/setup
            - run:
                  name: Tag @brightlayer-ui/react-native-components
                  command: |
                      yarn tag:package -b $CIRCLE_BRANCH

workflows:
    version: 2
    react-native_library:
        jobs:
            - build_library
            - build_showcase:
                  requires:
                      - build_library
            - build_storybook:
                  requires:
                      - build_showcase
            - build_storybook_api:
                  requires:
                      - build_library
                      - build_storybook
            - deploy_storybook:
                  requires:
                      - build_storybook_api
                  filters:
                      branches:
                          only:
                              - master
                              - dev
            - publish:
                  requires:
                      - build_storybook
                      - build_showcase
                      - build_storybook_api
                  filters:
                      branches:
                          only:
                              - master
                              - dev
            - tag:
                  requires:
                      - publish
                  filters:
                      branches:
                          only:
                              - master
            - coverage_report:
                  requires:
                      - build_library
                  filters:
                      branches:
                          only:
                              - master
